<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/String_StringBuffer_StringBuilder_for_JAVA_Interviews/src/com/govind/revision1/StringRevision.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.govind.revision1.StringRevision"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="String_StringBuffer_StringBuilder_for_JAVA_Interviews"/>
</launchConfiguration>
